$shadow: 0 0 5px rgb(0,0,0,0.3);
// Navbar
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: $shadow;
    padding: 10px 30px;
    .left {
        width:500px;
        display: flex;
        align-items:center;
        justify-content: space-around;
    }
    .right {
        width:200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    li {
        list-style: none;
        letter-spacing: 1px;
        font: {
            size: 18px;
            weight: 500;
            family: sans-serif; 
        }
        a {
            text-decoration: none;
        }
    }
}


// container
.container {
    display: flex;
    align-items:center;
    justify-content:center;
    .content-menu {
        flex-grow: 3;
        flex-flow: column wrap;
        height: 90vh;
        margin: 50px;
        padding: 20px;
        overflow: auto;
        box-shadow: $shadow;
        .card {
            width:95%;
            height: 200px;
            box-shadow: $shadow;
            padding: 2px;
            border-radius: 5px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .content-item {
        height: 90vh;
        display: flex;
        flex-grow: 8;
        align-items: center;
        justify-content:space-around;
        box-shadow: $shadow;
        margin: auto {
            top: 50px;
            // left: 400px;
        }
        font: {
            size: 70px;
            text-shadow: $shadow;
        }
    
        img {
            width:100%;
            max-height: 100%;
        }
    }
}